body {
	margin:0px;
	font-family:Helvetica;
	color:white;
	background:#8e44ad;	
	line-height:1.5;
}
.container-1{
	display:flex;
	justify-content:space-around;

}
	/*
	align items:flex-start;
	align-items:flex-end
	align-items:center;
	
	flex-direction:column;
	*/

/*
.container-2{
	display:flex;
	/*
	justify-content:flex-start;
	flex-end;
	center;
	*/

.container-2 div{
	border:8px #3498db solid;
	border-style: inset;
}

.container-1 div{
border:1px #ccc solid;
padding:10px;
justify-content:space-around;
}


.box-1{
	flex-basis:30%;
	order:1;
}

.box-2{
	flex-basis:30%;
	order:3;
}

.box-3{
	flex-basis:30%;
	order:2;
}

#center{
	margin:0 auto;
	width:50%;
	text-align:center;
	text-shadow: 2px 2px 4px #3498db;
}
ul{
	list-style-type: square;
}
ol{
	list-style-type: square;
}
p, li{
	font-style:italic;
}

h1{
	text-shadow: 2px 2px 5px #3498db;
	font-style:bold;
	border:2px solid;
}

@media only screen and (max-width: 800px) {
    .container-1 {
        flex-direction: column;
    }
 
    #center {
        width: 80%;
    }
}






