html, body {
  width: 100%;
  height:100%;
}

body,.container,.card {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}


@keyframes gradient {
    0% {
        background-position:0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
p {
	 font-style: italic;
	 text-align:center;
}
h1 {
 text-align:center;
 outline-style: solid;
  margin: 30px;
  border: 1px solid black;
  outline: 1px;
  outline-offset: 5px;
} 

h3,h2{
	text-align:center;
	margin: 30px;
	  border: 1px dotted black;
	  outline: 1px;
	  outline-offset: 5px;
	   font-style: italic;
	
}

.logo{
	height: 60px;
    width: 100px;
}

.card-header{
text-align:center;
}

.accordion-item{
	position: relative;
    margin-left: -22px; /* 15px padding + 7px border ribbon shadow*/
    margin-right: -22px;
    padding: 15px;
    background: #e5e5e5;
    background: linear-gradient(#f5f5f5, #e5e5e5);
    box-shadow: 0 -1px 0 rgba(255,255,255,.8) inset;
    text-shadow: 0 1px 0 #fff;
}

.foot{
	text-align:center;	
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}






